.env
__pycache__/
*.py[cod]  # 忽略 .pyc, .pyo, .pyd 文件
NOTE.txt
tree.py
venv/
main/static/output/**
!main/static/output/.gitkeep
instance/
migrations/versions/
!migrations/versions/.keep  # 保留空目录占位文件
migrations/*.py[cod]
videoist_flask.egg-info/
tmp/*
!tmp/.keep # 保留空目录占位文件
start.bat
tmp/working.html

